body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7fb;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #333;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
